﻿@{
    ViewBag.Title = "About";
}
<h2>The team that worked on the project.</h2>
<h3>Four students from Furtwangen University during their semester abroad at Shanghai Jiao Tong University.</h3>

<div class="row">
    <div class="col-md-5">
        <p><img src="~/Content/Images/philip.jpg" width="130" /></p>
        <p>Philip Fehrenbacher</p>
    </div>
    <div class="col-md-5">
        <p><img src="~/Content/Images/florian.jpg" width="130" /></p>
        <p>Florian Gottwalt</p>
    </div>

    <div class="col-md-5">
        <p><img src="~/Content/Images/daniel.jpg" width="130" /></p>
        <p>Daniel Hirsch</p>
    </div>

    <div class="col-md-5">
        <p><img src="~/Content/Images/henri.jpg" width="130" /></p>
        <p>Heinrich Dinkel</p>
    </div>
</div>
