﻿
@{
    ViewBag.Title = "CalculateSpam";
}

<h1>Spam / Ham calculation result:</h1>
<h2>@ViewBag.ResultMessage</h2>

<h3>Spam Value: @ViewBag.SpamValue</h3>
<h3>Ham Value: @ViewBag.HamValue</h3>

