﻿
    @{
    ViewBag.Title = "CheckMail";
    
    }



    <h2>CheckMail</h2>
    <h3>Please copy the mail you want to check into the textarea.</h3>

    @using (Html.BeginForm("CalculateSpam", "Home", FormMethod.Post))
{
        <p>
            <label for="emailText">Email:</label>
        </p>
        <p>
            <textarea name="emailText" style="width: 500px; height: 250px;"></textarea>
        </p>

        <p><input type="submit" value="Check Mail" /></p>
}

