﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spam Filter</h1>
    <p class="lead" align="justify">This WebApplication is the prototyping result of a project some students developed during their studies at the Shanghai Jiao Tong University in the Information Extraction course. It provides an online classifier for english E-Mails which checks them being Spam or Ham.</p>
    <p><a href="http://www.cs.sjtu.edu.cn/~li-fang/IEdescription.htm" target="_blank" class="btn btn-primary btn-large">Information Extraction Course Website at SJTU</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Source data</h2>
        <p align="justify">
            The data we used to train our classifier and get a corpus with which a supervised learning is possible, was provided by the Text REtrieval Conference (TREC). We used about 1300 spam and 1300 ham mails to extract the words for the Baysian Classifier.
        </p>
        <p><a class="btn btn-default" href="http://trec.nist.gov/" target="_blank">TREC Website</a></p>
    </div>
    <div class="col-md-4">
        <h2>Classifier</h2>
        <p align="justify">We used a Naive Bayesian Classifier Implementation from Erich Guenter to train the data in our database and to classify the data for our Web Application. </p>
        <p><a class="btn btn-default" href="http://www.codeproject.com/Articles/14270/A-Naive-Bayesian-Classifier-in-C" target="_blank">Source</a> <a class="btn btn-default" href="http://en.wikipedia.org/wiki/Naive_Bayes_classifier" target="_blank">Wikipedia</a></p>
    </div>
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p align="justify">Our Web Application uses @ViewBag.CountSpam Spam Words and @ViewBag.CountHam Ham Words to classify your email to Spam or Ham. The excluded words, as well as the Spam top 20 list and Ham top 20 list is displayed in the statistics page.</p>
        @Html.ActionLink("Statistics", "Statistics", "Home", null, new { @class = "btn btn-default" })
    </div>
</div>