﻿@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<h3>Trained Spam words: @ViewBag.CountSpam</h3>
<h3>Trained Ham words: @ViewBag.CountHam</h3>

<div class="row">
    <div class="col-sm-3">
            <h3>Excluded Words:</h3>
            <ul>
                <li>the</li>
                <li>to</li>
                <li>and</li>
                <li>a</li>
                <li>an</li>
                <li>in</li>
                <li>is</li>
                <li>it</li>
                <li>you</li>
                <li>that</li>
                <li>was</li>
                <li>for</li>
                <li>on</li>
                <li>are</li>
                <li>with</li>
                <li>as</li>
                <li>be</li>
                <li>been</li>
                <li>at</li>
                <li>one</li>
                <li>have</li>
                <li>this</li>
                <li>what</li>
                <li>which</li>
            </ul>
        </div>

    <div class="col-sm-3">
        <h3>Top 20 Ham:</h3>
        <ol>
            @foreach (var s in ViewBag.Hamlist)
            {
                <li>@s.Word - ( @s.Count )</li>
            }
        </ol>
    </div>



    <div class="col-sm-3">
        <h3>Top 20 Spam:</h3>
        <ol>
            @foreach (var s in ViewBag.Spamlist)
            {
                <li>@s.Word - ( @s.Count )</li>
            }
        </ol>
    </div>

</div>